CompileFlags:
    Add:
        - --target=arm-none-eabi
        - -Wall
        - -Wno-unknown-attributes
        - -Wno-maybe-uninitialized
        - -Wno-unknown-warning-option
        - -Wno-duplicate-decl-specifier
        - -I/usr/share/gcc-arm-none-eabi-10.3-2021.10/bin/../lib/gcc/arm-none-eabi/10.3.1/include
        - -I/usr/share/gcc-arm-none-eabi-10.3-2021.10/bin/../lib/gcc/arm-none-eabi/10.3.1/include-fixed
        - -I/usr/share/gcc-arm-none-eabi-10.3-2021.10/bin/../lib/gcc/arm-none-eabi/10.3.1/../../../../arm-none-eabi/include
    Remove: [-W*, -mmcu=*, -mcpu=*, -mfpu=*, -mfloat-abi=*, -mno-unaligned-access, -mno-thumb-interwork, -mcall-prologues]
    Compiler: clang-18

